In [54]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
import pandas as pd

In [55]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [56]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [90]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
# Calculate the date one year from the last date in data set.
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
# Perform a query to retrieve the data and precipitation scores

results = []
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date) == 6)
#print(results.all())

In [91]:
#  3. Convert the June temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date) == 6).all()
#print(results)

In [92]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
# Save the query results as a Pandas DataFrame and set the index to the date column

df = pd.DataFrame(results, columns=['date','June Temps'])
df.set_index(df['date'], inplace=True)

# Sort the dataframe by date
df=df.sort_index()
df.head(5)

                  date  June Temps
date
2010-06-01  2010-06-01        78.0
2010-06-01  2010-06-01        73.0
2010-06-01  2010-06-01        77.0
2010-06-01  2010-06-01        69.0
2010-06-01  2010-06-01        76.0

In [93]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [61]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [62]:
# 7. Convert the December temperatures to a list.

In [63]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [64]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.